.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    text-align: center;
}

.thanks__heading {
    margin-bottom: 40px;
    color: #8b7969;
}

.thanks__button {
    margin-top: 30px;
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8b7969;
    color: #fff;
    cursor: pointer;
}
